
.image-gallery-content.fullscreen {
    background: #000;
	width: 85%;
	margin:auto;
}

.image-gallery-content.bottom {
	margin:auto;
}

.image-gallery-index {
	font-size: .8em;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
	height: 75px;
    width: 40px;
}

.image-gallery-right-nav {
    right: -4rem;
}

.image-gallery-left-nav {
    left: -4rem;
}

.image-gallery-slide .image-gallery-description {
    background: rgba(0,0,0,.5);
	color: #fff;
    bottom: 0;
    font-size: 0.9rem;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(95vh - 150px);
}